@media screen and (max-width: 500px) {
    p {
        background-color:lightblue;
    }
}
:host ::ng-deep .ant-back-top {
    bottom: 100px;
    right: 20px;
  }
  :host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #12d46a;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  :host ::ng-deep strong {
    color: #1088e9;
  }