<div [@flyIn]="'in'">
<div class="tab_0">
  <div class="banner"><img src="../../assets/img/product/Header Video.png" alt=""></div>
  <p class="titles_1">功能齐全的智能健康管家</p>
  <p class="details_1">测量血压，血氧，心率，体重的多功能自助量测终端</p>
</div>

<div class="tab_1">
  <div class="product">
      <div class="productPic"><img src="../../assets/img/product/station.png" alt=""></div>
      <ul class="weight">
        <li><img src="../../assets/img/product/weight.png" alt=""></li>
        <li>体重测量</li>
      </ul>
      <ul class="oxygen">
        <li><img src="../../assets/img/product/oxygen.png" alt=""></li>
        <li>血氧测量</li>
      </ul>
      <ul class="heart">
        <li><img src="../../assets/img/product/heartrate.png" alt=""></li>
        <li>心率血压测量</li>
      </ul>
      <ul class="fat">
        <li><img src="../../assets/img/product/fat.png" alt=""></li>
        <li>体脂测量</li>
      </ul>
      <ul class="temperature">
        <li><img src="../../assets/img/product/temperature.png" alt=""></li>
        <li>体温测量</li>
      </ul>
      <ul class="height">
        <li><img src="../../assets/img/product/height .png" alt=""></li>
        <li>身高测量</li>
      </ul>
  </div>
</div>
<div class="tab_2">
    <div class="container tabBox box_1">
      <div class="contentBox clearfix">
        <div>
            <p>智能诊断 健康自动化</p>
            <p>直接连接外部医疗设备开始体检，体检数据上传到云端即可进行健康数据分析</p>
        </div>
        <div>
          <div>
              <img src="../../assets/img/product/img1.png" class="introPic_1" alt="">
          </div>
        </div>
      </div> 
    </div>
    <div class="container tabBox box_2 ">
      <div class="contentBox clearfix">
        <div>
            <img src="../../assets/img/product/Laptop.png" class="introPic_2" alt="">
        </div>
        <div>
            <p>智能诊断 健康自动化</p>
            <p>直接连接外部医疗设备开始体检，体检数据上传到云端即可进行健康数据分析</p>
        </div>
      </div>  
    </div>
    <div class="container tabBox box_3">
      <div class="contentBox clearfix">
        <div>
            <p>智能诊断 健康自动化</p>
            <p>直接连接外部医疗设备开始体检，体检数据上传到云端即可进行健康数据分析</p>
        </div>
        <div>
          <div>
              <img src="../../assets/img/product/img3.png" class="introPic_3" alt="">
          </div>
        </div>
      </div> 
    </div>
</div>
</div>